body {
    overflow-x: hidden;
    width: 100vw;
}

.tab-button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #ccc;
}

form strong {
    font-size: 14px;
}

.form-label {
    font-size: 14px;
}

.form-control {
    font-size: 14px;
    width: 90%;   
    height: 30px; 
}

.form-group {
    margin: 0px;
    margin-bottom: 5px;
}

.status-group p {
    margin: 3px;
}

.producers-list p {
    margin: 3px;
}

.topic-list p {
    cursor: pointer;
}

.topic-list p:hover {
    color: blue;
}