body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
}

.tab-button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.tab-button:hover {
    background-color: #c9c9c9;
}

.tab-button.active {
    background-color: #363636;
    color: white;
}

.db-info strong {
    font-size: 14px;
}

.db-info .form-label {
    font-size: 14px;
}

.db-info .form-control {
    font-size: 14px;
    width: 90%;   
    height: 30px; 
}

.db-info .form-group {
    margin: 0px;
    margin-bottom: 5px;
}

.status-group p {
    margin: 3px;
}

.producers-list p {
    margin: 3px;
}

.topic-list p {
    cursor: pointer;
}

.topic-list p:hover {
    color: #092996;
    font-size: 17px;
}

.deleteButton {
    margin-left: 15px;
}

.delete-error {
    color: red;
}

.data-table td {
    padding: 5px;        
}

.data-table th {
    padding: 8px;
}

.sql-in {
    height: 35px;
}

.output-messages td{
    padding: 3px;
}

.output-messages th {
    padding: 4px;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.accent-border {            
    background-image: linear-gradient(to bottom, #d99000, #c60907);
    cursor: ew-resize;      
}

.gutter-horizontal {
    margin: 0px; 
    background-color: #b3b3b3;
    height: 4px;
    width: 100%;
    cursor: row-resize;
}

.accent-border-header {            
background-image: linear-gradient(to right, #d99000, #c60907)
}

.default-button.enabled:hover {
    color: #a6a5a4;
    cursor: pointer;
}

.play-button {
    color: #0d6936;    
}

.play-button.enabled:hover {
    color: #18d66d;
    cursor: pointer;
}

.play-button.disabled {
    opacity: 0.5;
}

.stop-button {
    color: #d11f04;
}

.stop-button.disabled {
    opacity: 0.5;
}

.stop-button.enabled:hover {
    color: #de5d54;
    cursor: pointer;
}

.default-button.disabled {
    opacity: 0.5;
}