#burroughs-server/
#burroughs-server/*
SingleMessageTransforms/
SingleMessageTransforms/*
Confluent/
Confluent/*
producer/
producer/*
target/
target/*
.git/
.git/*
.idea/
.idea/*
*.md
*.sh
commands/
command/*
images/
images/*
